<header>
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
        <span>Télé Faune v0.01</span>
        <span class="example-spacer"></span>
        <div class="toolbar-button-row">
            <div class="toolbar-flex-container">
                <div class="toolbar-button-container">
                    <button mat-fab extended>
                        <mat-icon>cloud_download</mat-icon>
                        Fichiers
                    </button>
                </div>
                <div class="toolbar-button-container">
                    <button mat-fab extended>
                        <mat-icon>settings</mat-icon>
                        Paramètres
                    </button>
                </div>
                <div class="toolbar-button-container">
                    <button mat-fab extended>
                        <mat-icon>settings_power</mat-icon>
                        Système
                    </button>
                </div>
            </div>
        </div>
        <!-- <button mat-fab extended>
        <mat-icon>cloud_download</mat-icon>
        Fichiers
    </button> -->
        <!-- <section>
        <div class="example-label">Extended Fab</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Basic
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab extended disabled>
                <mat-icon>favorite</mat-icon>
                Disabled
              </button>
            </div>
            <div class="example-button-container">
              <a mat-fab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
                Link
              </a>
            </div>
          </div>
        </div>
      </section> -->
    </mat-toolbar>

</header>